.App{
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #DFE5E5;
    display: flex;
    flex-direction: column;
    background-image: url(components/assets.img/Rick_y_Morty.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;   
}

.NavBar{
    padding: 2em;
    background: radial-gradient(ellipse farthest-corner at center center, #fefbfb 0%, transparent 20%);
    background: -webkit-radial-gradient(ellipse farthest-corner at center center, #e11818 0%, #ffffff 20%);
    background: -moz-radial-gradient(ellipse farthest-corner at center center, #e11818 0%, #ffffff 20%);
    display: flex;
    justify-content:space-around;
    margin-bottom: 1em;
    opacity: 0.9;
}